os: linux
sudo: required
dist: bionic
language: python
python:
  - "3.7"

# command to install dependencies
install:
  - sudo add-apt-repository ppa:deadsnakes/ppa --yes
  - sudo apt-get --yes --force-yes install python3-venv
  - pip install ansible
  - pip install flake8
  - pip3 install ansible-doc-extractor
  - pip install sphinx
  - pip install sphinx_rtd_theme
  - ansible --version
  - flake8 --version

env:
  global:
    secure: tK8BlMX+G8su+bH8Qbrfq182UWYkdE0R3KTQNcAsiRVz0PjYldQglMkZk7oNGiiy/g2X6HTysrcWpiQEwxHK7soMKgZvD7e0fuZRQbfmHRFT70MNl7z9LkhFqbvD3DQKTUwvvuGSygNLHgGaAFnQaqKyBbMEQ7sxDC8+YsUypYWMFN6YhHySG1b7AOkgsBybA53o6O2cMg7XGiSHV2ImObJztQi9YiV4KCb7E3eeSrU+Mz9e2thM+8XQ1a+7iLHH1KvZG/UPSqYSBgmAFrCHtBpucvWyYgJ3I8b2qXMLs3QsoOPlAs/eF5g4k4NrYvz40aNaS6T/eJUGs0CFn6xmdQMC5+Vsrjmn2xJB25S0/XB6dtyz+iqHBTG461MTdlj+eMYz5FTL5njH32Ud0Up/9jd35ZYxvtrSdFtvclvqQMHnRzGJZHYEJE8+Z76KKiap5qIQXrzfuhnIMNPnfi+dWlyXD/RZ7mNXDNHEUpHkB9820iDM5oukJ0NUFYD5gxJXWO7gn1zju+hgwyNt/cpdLIiiGeX2TxYfBA/jHfwYE7ttOjysnaxyhvd3KrsF+b+GWNKI/9sksHEerAA0Ciuh4VbXrQ4n7mNrlK3gdAl7wEA06wTaad9JghN6SEpyEMAE23aA1nuW3PpcLFGrOd2EKt7VDqusoXFVeERD8Lb1OK8=

# command to run tests
script:

  # With flake ignore
  #  E402: <module> level import not at top of file (as per Ansible module developement)
  #  W503: line break before binary operator (PEP8 advices to put logical operator ahead)
  - flake8 plugins/modules/* --max-line-length=160 --ignore=E402,W503

  # checking yaml syntax is not relevant since there are just examples.
  #- ansible-playbook playbook_aix_flrtvc.yml --syntax-check
  #- ansible-playbook playbook_aix_suma_targets_all.yml --syntax-check

  - bash devops/bin/sanity_test.sh
  - bash devops/bin/gen_doc.sh

# push the generated documentation using GitHub Pages
deploy:
    provider: pages
    strategy: git
    skip_cleanup: true
    token: $GITHUB_API_KEY
    local_dir: docs/build
    keep_history: true
    on:
        branch: dev-collection
