---
arch: amd64
os: linux
dist: focal
language: python
python:
  - "3.8"

notifications:
  email: false
  slack:
    secure: UbqjanV/F+ruYr860cV5+uVChJorQVxhM0bOao9cWhzjHIsqlZYr6SOYjYGqzZSwDskeAaF/qS/CGOMjVRVP+C14/voCUaNTHydEnqaMKr3VM1VVfjyv6Y7O82pEXPBJjR5QhnzDWohu2ONwNW84lCgtRqekG+8JTJb5YQ1nObdj6BHzVuUEcyuolkVImkWd1RdImtSx1TWT/r/oZRzIvBN4aTRo+PkMERDyoJn5zLMFmjABejhNwPaz/TEB9S93dpFG9lOKUgqJFFWAFUVxKKchDcAJ9eOccGgXoV/TK60h4asBXzZMokZTRXZVIgHwhRYfbFKkEEQoHXrIKxmSfqJgjtmofvauPPhPKPE23ZEXv2ckz1JnR5BL1WZVggXod8gz5z9dLtfn80/ySMEUzoc9BaOUKti0YTuofOxXlBi2O1C3WJR3WR4m+tpeUEZLkv4V/yhoWULJ7HaeIe+P9vBDHJEBloKz2oOXfw0MHQY48SFJT6eXx8oqj5r2s1q6JaiW3FGinxmmUW6K3W09hhMDduuXb6o6Iv+/Jo9aZyOHEagnC3jHrNiHv8LBoWxOuFQNCFPTj6jJre0pC0NmV7ZF3jC/BT3s5qWGu7b+87UCzy6KKa2D8YCKFogI2mu0MGEltWInjTHwaoLfZcemOapCi0UgixK2EimjTrIJjKU=
    on_success: always
    on_failure: always

jobs:
  # allow_failures:
  #   - name: "sanity-test"
  #   - name: "porting-test"
  #   - name: "compile-test"
  #   - name: "module-linting-test"
  #   - name: "role-linting-test"
  #   - name: "unit-test"
  #   - name: "gen-doc-files"

  include:
  ########################################################################
  # sanity test
  # - makes sure that the collection passes the ansible sanity tests
  ########################################################################
    - name: "sanity-test"
      env: 
        - NAME="sanity-test"
        - ANSIBLE_VERSION="2.9"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make install-sanity-test-requirements
        - make sanity-test

    - name: "sanity-test"
      env: 
        - NAME="sanity-test"
        - ANSIBLE_VERSION="3"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make install-sanity-test-requirements
        - make sanity-test

    - name: "sanity-test"
      env:
        - NAME="sanity-test"
        - ANSIBLE_VERSION="4"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make install-sanity-test-requirements
        - make sanity-test

    - name: "sanity-test"
      env:
        - NAME="sanity-test"
        - ANSIBLE_VERSION="5"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make install-sanity-test-requirements
        - make sanity-test

    - name: "sanity-test"
      language: python
      python:
        - "3.9"
      env:
        - NAME="sanity-test"
        - ANSIBLE_VERSION="devel"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible-devel-branch
        - make install-sanity-test-requirements
        - make sanity-test

  ########################################################################
  # porting test
  # - makes sure that the collection is properly ported for python3
  ########################################################################
    - name: "porting-test"
      env:
        - NAME="porting-test"
        - ANSIBLE_VERSION="2.9"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - python -m pip install --upgrade pip
        - python -m pip install pylint==2.10.*
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make porting

  ########################################################################
  # compile test
  # - makes sure that the collection has compatible syntax
  # with python version 2.7, 3.6, 3.7, and 3.8
  ########################################################################
    - name: "compile-test"
      language: python
      python:
        - "2.7"
      env:
        - NAME="compile-test"
        - PYTHON_VERSION="2.7"
        - ANSIBLE_VERSION="2.9"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make compile PYTHON_VERSION=${PYTHON_VERSION}

    - name: "compile-test"
      language: python
      python:
        - "3.6"
      env:
        - NAME="compile-test"
        - PYTHON_VERSION="3.6"
        - ANSIBLE_VERSION="2.9"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make compile PYTHON_VERSION=${PYTHON_VERSION}

    - name: "compile-test"
      language: python
      python:
        - "3.7"
      env:
        - NAME="compile-test"
        - PYTHON_VERSION="3.7"
        - ANSIBLE_VERSION="2.9"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make compile PYTHON_VERSION=${PYTHON_VERSION}

    - name: "compile-test"
      language: python
      python:
        - "3.8"
      env:
        - NAME="compile-test"
        - PYTHON_VERSION="3.8"
        - ANSIBLE_VERSION="2.9"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make compile PYTHON_VERSION=${PYTHON_VERSION}

  ########################################################################
  # module linting test
  # - makes sure that the collection conforms with PEP8 coding style
  # standards
  ########################################################################
    - name: "module-linting-test"
      env: 
        - NAME="module-linting-test"
        - ANSIBLE_VERSION="2.9"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make install-sanity-test-requirements
        - make module-lint
  
  ########################################################################
  # role linting test
  # - makes sure that the collection conforms with PEP8 coding style
  # standards
  ########################################################################
    - name: "role-linting-test"
      env: 
        - NAME="role-linting-test"
        - ANSIBLE_VERSION="2.9"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=${ANSIBLE_VERSION}
        - make install-sanity-test-requirements
        - make role-lint

  ########################################################################
  # unit test
  # - run unit tests for the modules
  ########################################################################
    - name: "unit-test"
      env: 
        - NAME="unit-test"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=2.9
        - make install-unit-test-requirements
        - make unit-test

  ########################################################################
  # generate doc files
  ########################################################################
    - name: "gen-doc-files"
      env: 
        - NAME="gen-doc-files"
        - ANSIBLE_COLLECTION_DIR=ansible_collections/ibm/power_aix/
      script:
        - git clone --branch ${TRAVIS_BRANCH} git@github.ibm.com:ansible-power-aix/development.git ${ANSIBLE_COLLECTION_DIR}
        - cd ${ANSIBLE_COLLECTION_DIR}
        - export ANSIBLE_COLLECTIONS_PATHS=$(pwd)
        - make install-ansible ANSIBLE_VERSION=2.9
        - python -m pip install ansible-doc-extractor
        - python -m pip install sphinx
        - python -m pip install sphinx_rtd_theme
        - bash devops/bin/gen_doc.sh

# push the generate documentation using Github Pages
deploy:
  provider: pages
  strategy: git
  skip_cleanup: true
  token: $GITHUB_API_KEY
  local_dir: docs/build
  keep_history: true
  on:
    branch: dev-collection
