---
############################################################
############################################################
# Validations:
# 1. check if 'bos.alt_disk_install.rte' fileset is
#    installed in NIM master
#
# 2. check if 'bos.alt_disk_install.rte' fileset is
#    installed in lpp_source
#
# 3. check if 'bos.alt_disk_install.rte' fileset is
#    installed in spot, if NOT then customize SPOT
#    resource and install the fileset using lpp_source
#
# 4. check if the 'bos.alt_disk_install.rte' fileset
#    is on the same level for NIM master, lpp_source
#    and spot

############################################################
############################################################
- name: "Query bos.alt_disk_install.rte fileset in NIM master"
  ibm.power_aix.lpp_facts:
    filesets: bos.alt_disk_install.rte

- set_fact:
    nim_master_fileset_levels: >
      {{ ansible_facts['filesets']['bos.alt_disk_install.rte']['levels'].keys() | list }}

- name: "Check if 'bos.alt_disk_install.rte is installed in NIM master"
  fail:
    msg: "Fileset 'bos.alt_disk_install.rte' not installed in NIM master"
  when: "'bos.alt_disk_install.rte' not in ansible_facts.filesets"
- debug:
    msg: >
     'bos.alt_disk_install.rte' in NIM master is at
     level {{ nim_master_fileset_levels }}

############################################################
############################################################

- name: "Query bos.alt_disk_install.rte fileset {{ lpp_source }}"
  ibm.power_aix.nim_resource:
    action: show
    name: "{{ lpp_source }}"
    showres:
      fetch_contents: true
  register: lpp_source_query

- name: "Check if 'bos.alt_disk_install.rte is in in {{ lpp_source }}"
  block:
    - set_fact:
        lpp_source_fileset: "{{ lpp_source_query['nim_resources'][lpp_source]['contents'] }}"

    - fail:
        msg: "Fileset 'bos.alt_disk_install.rte' not in in {{ lpp_source }}"
      when: lpp_source_fileset['bos.alt_disk_install.rte'] is not defined

    - debug: msg="defined"
      when: lpp_source_fileset['bos.alt_disk_install.rte'] is defined

    - set_fact:
        lpp_source_fileset_level: "{{ lpp_source_fileset['bos.alt_disk_install.rte'] }}"
    - set_fact:
        lpp_source_fileset_level: "{{ lpp_source_fileset_level['level'] | first }}"

    - debug:
        msg: >
         'bos.alt_disk_install.rte' in {{ lpp_source }} is at
         level '{{ lpp_source_fileset_level }}'

############################################################
############################################################

- name: "Query bos.alt_disk_install.rte fileset in {{ spot }}"
  block:
    - ibm.power_aix.nim_resource:
        action: show
        name: "{{ spot }}"
        showres:
          fetch_contents: true
      register: spot_query

    # if 'bos.alt_disk_install.rte' is not installed in SPOT then install it
    - set_fact:
        spot_fileset: "{{ spot_query['nim_resources'][spot]['contents'] }}"

    - include_tasks: "add_alt_disk_install_fileset.yml"
      when: spot_fileset['bos.alt_disk_install.rte'] is not defined

    - ibm.power_aix.nim_resource:
        action: show
        name: "{{ spot }}"
        showres:
          fetch_contents: true
      register: spot_query

    - set_fact:
        spot_fileset: "{{ spot_query['nim_resources'][spot]['contents'] }}"
    - set_fact:
        spot_fileset_level: "{{ spot_fileset['bos.alt_disk_install.rte']['level'] | first }}"

    - debug:
        msg: >
         'bos.alt_disk_install.rte' in {{ spot }} is at
         level '{{ spot_fileset_level }}'
  when: spot != ""

############################################################
############################################################

- name: "Check if 'bos.alt_disk_install.rte' fileset level matches between NIM master
        and {{ lpp_source }}"
  block:
    - set_fact:
        nim_master_fileset_level: >
          {{ nim_master_fileset_levels.0 }}
    - set_fact:
        nim_master_fileset_level_major_num: "{{ nim_master_fileset_level.split('.')[0] }}"
        nim_master_fileset_level_minor_num: "{{ nim_master_fileset_level.split('.')[1] }}"
    - set_fact:
        nim_master_fileset_level: >
          {{ nim_master_fileset_level_major_num + nim_master_fileset_level_minor_num + '00' }}

    - set_fact:
        lpp_source_fileset_level_major_num: "{{ lpp_source_fileset_level.split('.')[0] }}"
        lpp_source_fileset_level_minor_num: "{{ lpp_source_fileset_level.split('.')[1] }}"
    - set_fact:
        lpp_source_fileset_level: >
          {{ lpp_source_fileset_level_major_num + lpp_source_fileset_level_minor_num + '00' }}

    - fail:
        msg: >
          NIM master and {{ lpp_source }} 'bos.alt_disk_install.rte'
          fileset levels do not match
      when: lpp_source_fileset_level != nim_master_fileset_level

############################################################
############################################################

- name: "Check if 'bos.alt_disk_install.rte' fileset level matches between NIM master
        and {{ spot }}"
  block:
    - fail:
        msg: >
            NIM master and {{ spot }} 'bos.alt_disk_install.rte'
            fileset levels do not match
      when: "spot_fileset_level not in nim_master_fileset_levels"
  when: spot != ""

############################################################
############################################################

- name: "Check if 'bos.alt_disk_install.rte' fileset level matches between {{ lpp_source }}
        and {{ spot }}"
  block:
    - set_fact:
        spot_fileset_level_major_num: "{{ spot_fileset_level.split('.')[0] }}"
        spot_fileset_level_minor_num: "{{ spot_fileset_level.split('.')[1] }}"
    - set_fact:
        spot_fileset_level: >
          {{ spot_fileset_level_major_num + spot_fileset_level_minor_num + '00' }}

    - fail:
        msg: >
          {{ lpp_source }} and {{ spot }} 'bos.alt_disk_install.rte'
          fileset levels do not match

      when: spot_fileset_level != lpp_source_fileset_level
  when: spot != ""
