---
- name: "Bootstrap Yum on AIX"
  hosts: apache
  gather_facts: no
  collections:
  - ibm.power_aix
  tasks:

# CHECK for Yum on inventory host
  - import_role:
      name: power_aix_bootstrap
    vars:
      pkgtype: "yum"
      download_dir: "~"
      target_dir: "/tmp/.ansible.cpdir"


- name: "Install the Apache HTTP server using yum"
  hosts: apache
  gather_facts: no
  collections:
  - ibm.power_aix
  tasks:

  - name: "Create large enabled file system"
    filesystem:
      filesystem: /RPMS
      size: 4G
      state: present
      vg: rootvg

  - name: "Mount the filesystem"
    mount:
      mount_dir: /dev/fslv00
      mount_over_dir: /RPMS

  - name: "Add space for /opt (+375M)"
    filesystem:
      filesystem: /opt
      size: +375M
      state: present

  - name: "Add space for /var (+10M)"
    filesystem:
      filesystem: /var
      size: +10M
      state: present

# INSTALL / UPDATE yum-utils & repo software
  - name: "Install yum-utils package"
    yum:
      name: yum-utils
      state: latest

  - name: "Install createrepo package"
    yum:
      name: createrepo
      state: latest

  - name: "Sync data from external yum server"
    shell: "reposync -p /RPMS -r AIX_Toolbox_72 -a ppc"

  - name: "Create local database files"
    shell: "createrepo /RPMS/AIX_Toolbox_72"

# CHECK for httpd
  - name: "Check if the httpd server is present"
    shell: "yum list installed httpd && echo true || echo false"
    args:
      warn: no
    register: httpd_exists

  - name: "Add space for /opt (+35M)"
    filesystem:
      filesystem: /opt
      size: +35M
      state: present
    when: httpd_exists.stdout is search("false")

  - name: "Add space for /var (+15M)"
    filesystem:
      filesystem: /var
      size: +15M
      state: present
    when: httpd_exists.stdout is search("false")

# INSTALL / UPDATE Apache on inventory host
  - name: "Install Apache HTTP Service"
    yum:
      name: httpd
      state: latest

# INSTALL / UPDATE mod_ssl module on inventory host
  - name: "Install mod_ssl (https)"
    yum:
      name: mod_ssl
      state: latest

# CONFIGURE document root
  - name: "Link files under DocumentRoot path"
    file:
      src: /RPMS
      dest: /var/www/htdocs/RPMS
      state: link

# Restart the Apache server
  - name: "Stop the httpd server (if active)"
    shell: "/opt/freeware/sbin/apachectl -k stop"

  - name: "Start the httpd server"
    shell: "/opt/freeware/sbin/apachectl -k start"
