---
- name: NIM operations to create, delete or show NIM resource objects
  hosts: nim1
  gather_facts: false
  vars:
    spot_name_v: spot_test4
    spot_final_location_v: /nim1/spot_test4_from_lpp_source
    lpp_source_v: lpp_source_test4
    software_lpp_source: /nim1/lpp_source
    lpp_source_location: /nim1/lpp_source_test4

  tasks:
    - name: Create/define an lpp_source NIM resource object from the software in the system.
      ibm.power_aix.nim_resource:
        action: create
        name: "{{ lpp_source_v }}"
        object_type: lpp_source
        attributes:
          source: "{{ software_lpp_source }}"
          location: "{{ lpp_source_location }}"
      register: result

    - name: Display result
      ansible.builtin.debug:
        var: result

    - name: Create/define a spot object resource from an lpp_source nim object.
      ibm.power_aix.nim_resource:
        action: create
        name: "{{ spot_name_v }}"
        object_type: spot
        attributes:
          source: "{{ lpp_source_v }}"
          location: "{{ spot_final_location_v }}"
      register: result

    - name: Display result
      ansible.builtin.debug:
        var: result

    - name: Show a NIM resource object.
      ibm.power_aix.nim_resource:
        action: show
        name: "{{ spot_name_v }}"
      register: result

    - name: Display result
      ansible.builtin.debug:
        var: result
        cmd: ""
    - name: Verify the resource is exist.
      ansible.builtin.assert:
        that:
          - "{{ result.nim_resource_found }}"
        fail_msg: "Problem: No lpp_source object types found."
