---
- name: "Print the LPAR related information"
  hosts: quimby05
  gather_facts: yes
  vars:
    log_file: "/tmp/ansible_lpar_debug.log"

  tasks:
    - name: "LPAR information"
      lpar_facts:
    - name: Print the LPAR related information
      debug:
        var: ansible_facts.lpar
