---
- name: "Print the fileset related information"
  hosts: aix
  gather_facts: yes
  vars:
    log_file: "/tmp/ansible_lpp_debug.log"

  tasks:
    - name: "Gather the fileset facts"
      ibm.power_aix.lpp_facts:

    - name: Check whether a fileset called 'openssh.base.client' is installed
      debug:
        msg: Fileset 'openssh.base.client' is installed
      when: "'openssh.base.client' in ansible_facts.filesets"

    - name: Check whether a fileset called 'test.base.xyz' is installed
      debug:
        msg: Fileset 'test.base.xyz' is installed
      when: "'test.base.xyz' in ansible_facts.filesets"

    - name: "Gather the fileset facts"
      ibm.power_aix.lpp_facts:
        filesets: openssh.base.client

    - name: "Gather the fileset facts"
      ibm.power_aix.lpp_facts:
        filesets: test.base.xyz

    - name: Populate fileset facts with the installation state for the most recent
            level of installed filesets for all of the bos.rte filesets
      ibm.power_aix.lpp_facts:
        filesets: bos.rte.*

    - name: Print the fileset facts
      debug:
        var: ansible_facts.filesets

    - name: Populate fileset facts with the installation state for all the filesets
            contained in the Server bundle
      ibm.power_aix.lpp_facts:
        bundle: Server

    - name: Print the fileset facts
      debug:
        var: ansible_facts.filesets
        
    - name: Populate fileset facts with the installation state for the most recent
           level of installed filesets for all of the bos.rte filesets and also with
           the requisites details
      lpp_facts:
         filesets: bos.rte.*
         reqs: True     
    - name: Print the fileset facts
      debug:
         var: ansible_facts.filesets
         
    - name: Populate fixes facts with the status of APAR fixes installed on the system
      lpp_facts:
        fix_type: apar
    - name: Print the fixes facts
      debug:
        var: ansible_facts.fixes
      